node_modules/
dist/
coverage/
.vite/
.DS_Store

frontend/node_modules/
frontend/dist/
frontend/.vite/

backend/node_modules/
backend/dist/

.env.main
database/data/*.sqlite
database/data/*.sqlite3
database/data/*.db
database/data/*.db3
*.sqlite
*.sqlite3
*.db
*.db3